.card {
  width: 315px;
  border: 1px solid black;
  box-shadow: 6px 6px 1px 0px gray;
  padding-right: .3em;
  padding-left: .6em;
  padding-bottom: .6em;
}

.tigerfacts {
  width: 290px;
  border: 1px solid black;
  padding-right: .5em;
  padding-left: .5em;
}

.caption {
  font-style: italic;
}

span {
  font-weight: bold;
}

ul {
  list-style: none;
}
